@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Red+Hat+Display:wght@500;700;900&display=swap');



.here{
  height: 100vh;
  width: 100%;
}

@layer base{
  body{
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
  }
  h1{
    @apply text-2xl font-light;
    font-family: 'Changa One', cursive;
  }
}

@layer components{
  .icon{
    @apply text-base text-zinc-600;
  }

  a{
    @apply text-zinc-600;
  }

  a:hover{
    @apply text-zinc-900;
    border-bottom: 2px white dashed;
  }
}